html, body {
    height: 100%;
    font-family:"arial","Terminal","monospace";
    background-color: white;
    font-size: 20px;
}



/* HEADER */
.head {
    background-color: lightgrey;
}


/* TABELLEN */

tr {
    font: bold 26px Arial,Verdana,sans-serif;
    padding: 3px;
    background-color: lightgrey;
    border: 1px solid #FFFFFF;
    text-align: center;
    color: white;
    font-weight: normal;
    height: 45px;
    overflow: auto;
}
td, th {
    font: normal 20px Arial,Verdana,sans-serif;
    color: black;
    padding: 5px 5px;
    line-height: 130%;
    text-align: center;
    height: 35px;
}

th {
    font: bold 22px Arial,Verdana,sans-serif;
    height: 30px;
}

table {
    width: 100%;
}
thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
thead th {
    height: max;
    text-align: center;
}
tbody {
    height: 300px;
    overflow-y: auto;
}
thead {
    height: max;
}
thead tr {
    background-color: grey;
}
tbody td, thead th {
    width: 15%;
    float: left;
}
.table1 tbody td, .table1 thead th {
    width: 20%;
}




/* TEXTFELDER */

#contactform {
    width:100%;
    overflow:hidden;
}
#contactform li {
    list-style:none;
    padding-bottom:40px;
}
#contactform li .fieldbox {
    float:left;
    height:20px;
    width: 300px;
}
#contactform li .fieldbox input {
    height:20px;
    padding-top:5px;
    width:100%;
}
#contactform li .msgbox {
    float:left;
    height:70px;
    width: 300px;
}
#contactform li .msgbox textarea {
    height:60px;
    padding-top:5px;
    width:100%;
}



/* BUTTON */
.bbutton {
    font-family: arial;
    color: black;
    font-size: 20px;
    text-shadow: 1px 1px 0px lightgrey;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid darkgray;
    background: grey;
    background: linear-gradient(top,  lightgrey,  grey);
    background: -ms-linear-gradient(top,  lightgrey,  grey);
    background: -webkit-gradient(linear, left top, left bottom, from(lightgrey), to(grey));
    background: -moz-linear-gradient(top,  lightgrey,  grey);
}
.bbutton:hover {
    cursor: pointer;
    color: black;
    background: lightgrey;
    background: linear-gradient(top,  grey,  lightgrey);
    background: -ms-linear-gradient(top,  grey,  lightgrey);
    background: -webkit-gradient(linear, left top, left bottom, from(grey), to(lightgrey));
    background: -moz-linear-gradient(top,  grey,  lightgrey);
}




ul#actions
{
    display:none;
}
#actions:target
{
    display: block;
}








