html, body {
    height: 100%;
    font-family:"arial","Terminal","monospace";
    background-color: white;
    font-size: 105%;
}



/* HEADER */
.head {
    background-color: lightgrey;
}



/* Start Buttons */

.startbuttons { width: 45%;}
.startbuttons ul { list-style: none; padding-top: 20px;}
.startbuttons ul li { padding: 10px 0;}
.startbuttons ul li button { width: 100%;}


/* TABELLEN */

tr {
    background-color: #EEE;
    border: 2px solid #FFF;
}

td, th {
    text-align: center;
    padding: 3px 5px;
}
tbody {
    background-color: white;
    height: 300px;
}
tbody tr td {
    padding: 3px 0;
}
thead tr {
    color: #FFF;
    background-color: #999;
}
table {
    table-layout:fixed;
}
.div-table-content {
    height:350px;
    overflow-y:auto;
}

.tablerow:hover {
    background-color: #DDD;
    cursor: pointer;
}

.kundenrow:hover {
    background-color: #DDD;
    cursor: pointer;
}

.artikeltabelle th, .tablerow td {
    text-align: left;
}

.bonrow {
    background-color: #CCC;
    color: black;
}
.bonrow input {
    text-align: center;
    width: 50%;
}

.monatsstats tr th input {
    width: 100%;
}

.artikelmontatstable {
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
}

.artikelmontatstable td {
    border: 1px solid #333;
}
.scrollkundentable tbody {
    overflow-y: auto;
    width: 300%;
    max-height: 250px;
    display: block;
}
.scrollkundentable tbody tr td:nth-child(2) {
    width: 100%;
}





/* TEXTFELDER */

#contactform {
    width:100%;
    overflow:hidden;
}
#contactform li {
    list-style:none;
    padding-bottom:40px;
    padding-right: 20px;
}
#contactform li .fieldbox {
    float:left;
    height:20px;
    width: 100%;
}
#contactform li .fieldbox input {
    height:30px;
    padding-top:5px;
    width:100%;
}
#contactform li .msgbox {
    float:left;
    height:70px;
    width: 100%;
}
#contactform li .msgbox textarea {
    height:60px;
    padding-top:5px;
    width:100%;
}



/* BUTTON */
.bbutton {
    font-family: arial;
    color: black;
    font-size: 20px;
    text-shadow: 1px 1px 0px lightgrey;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid darkgray;
    background: grey;
    background: linear-gradient(top,  lightgrey,  grey);
    background: -ms-linear-gradient(top,  lightgrey,  grey);
    background: -webkit-gradient(linear, left top, left bottom, from(lightgrey), to(grey));
    background: -moz-linear-gradient(top,  lightgrey,  grey);
}
.bbutton:hover {
    cursor: pointer;
    color: black;
    background: lightgrey;
    background: linear-gradient(top,  grey,  lightgrey);
    background: -ms-linear-gradient(top,  grey,  lightgrey);
    background: -webkit-gradient(linear, left top, left bottom, from(grey), to(lightgrey));
    background: -moz-linear-gradient(top,  grey,  lightgrey);
}




ul#actions
{
    display:none;
}
#actions:target
{
    display: block;
}








